<!-- <button routerLink="/add-product-admin">Add product</button> -->

<!-- <div>
    <div *ngFor="let product of productList">
        <div>{{product.id}}. {{product.title }},
            author: id: {{product.author.id}}, name:{{product.author.firstName}}

            <button routerLink="/product-description/{{product.id}}"> Show product</button>
            <button routerLink="/update-product-admin/{{product.id}}"> Update product</button>

            <button (click)="delete(product.id)">Delete</button>

        </div>
    </div>
</div> -->

<h2> Admin view</h2>
<hr>
<button routerLink="/add-product-admin" mat-raised-button color="primary">Add product</button>
<hr>

<table>
    <thead>
        <tr>
            <th> Id Produs</th>
            <th> Denumire Produs</th>
            <th> Categoria Produsului</th>
            <th>Pret Produs</th>
            <th>Gestionar Produs</th>
            <th>Functionalitati</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productList">
            <td>{{product.id}} </td>
            <td>{{product.title }}</td>
            <td *ngIf="product.category">{{product.category.name}} </td>
            <td *ngIf="!product.category"> </td>
            <td>{{product.price}} </td>
            <td *ngIf="product.author">{{product.author.firstName}} </td>
            <td *ngIf="!product.author"> </td>
            
            <td>
                <button routerLink="/product-description/{{product.id}}"> Descriere</button>
            </td>

        </tr>
    </tbody>
</table>