@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }

h1 {
    text-align: center;
    font-style: oblique;
    border: 2px solid royalblue;
    border-radius: 5px;
};


