<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a style="color: aliceblue; font-size:xx-large;"  class="navbar-brand">Online Store</a></div>

        <ul class="navbar-nav">
            <li><a  routerLink="/categories" class="nav-link">Categories</a></li>
            <li><a  routerLink="/view-productList" class="nav-link">Products</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a  routerLink="" class="nav-link">Login</a></li>
            <li><a  routerLink="" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>