<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<div class="container">
    <form class="form-horizontal" role="form">
        <h2>Edit your account</h2>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email* </label>
            <div class="col-sm-9">
                <input type="email" [(ngModel)]="userAccount.login" id="email" placeholder="Email" class="form-control"
                    name="email">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password*</label>
            <div class="col-sm-9">
                <input type="password" [(ngModel)]="userAccount.password" id="password" placeholder="Password"
                    class="form-control" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="from-group">
            <label for="city" class="col-sm-3 control-label">City</label>
            <div class="col-sm-9">
                <input type="text" id="city" class="form-control" [(ngModel)]="userAccount.city" placeholder="City"
                    [ngModelOptions]="{standalone: true}" autofocus>
            </div>
        </div>
        <br>
        <h4>Home address</h4>
        <div class="form-group">
            <label for="home-country" class="col-sm-3 control-label">Country</label>
            <div class="col-sm-9">
                <input type="text" id="home-country" class="form-control" [(ngModel)]="userAccount.userAdress.country"
                    placeholder="Romania" [ngModelOptions]="{standalone: true}" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="home-city" class="col-sm-3 control-label">City</label>
            <div class="col-sm-9">
                <input type="text" id="home-city" class="form-control" [(ngModel)]="userAccount.userAdress.city"
                    placeholder="Brasov" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="home-street" class="col-sm-3 control-label">Street</label>
            <div class="col-sm-9">
                <input type="text" id="home-street" class="form-control" [(ngModel)]="userAccount.userAdress.street"
                    [ngModelOptions]="{standalone: true}" placeholder="Strada Calea Bucuresti, nr. 20" autofocus>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="home-zipcode" class="col-sm-3 control-label">Zipcode</label>
            <div class="col-sm-9">
                <input type="text" id="home-zipcode" class="col-sm-3 control-label"
                    [(ngModel)]="userAccount.userAdress.zipcode" [ngModelOptions]="{standalone: true}"
                    placeholder="321534" autofocus>
            </div>
        </div>
        <h4>Delivery address</h4>
        <div class="form-group">
            <label for="delivery-country" class="col-sm-3 control-label">Country</label>
            <div class="col-sm-9">
                <input type="text" id="delivery-country" class="form-control"
                    [(ngModel)]="userAccount.deliveryAdress.country" [ngModelOptions]="{standalone: true}"
                    placeholder="Romania" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="delivery-city" class="col-sm-3 control-label">City</label>
            <div class="col-sm-9">
                <input type="text" id="delivery-city" class="form-control" [(ngModel)]="userAccount.deliveryAdress.city"
                    placeholder="Brasov" [ngModelOptions]="{standalone: true}" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="delivery-street" class="col-sm-3 control-label">Street</label>
            <div class="col-sm-9">
                <input type="text" id="delivery-street" class="form-control"
                    [(ngModel)]="userAccount.deliveryAdress.street" [ngModelOptions]="{standalone: true}"
                    placeholder="Strada Calea Bucuresti, nr. 20" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="delivery-zipcode" class="col-sm-3 control-label">Zipcode</label>
            <div class="col-sm-9">
                <input type="text" id="delivery-zipcode" class="col-sm-3 control-label"
                    [(ngModel)]="userAccount.deliveryAdress.zipcode" [ngModelOptions]="{standalone: true}"
                    placeholder="321534" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="logotype" class="col-sm-3 control-label">Logo</label>
            <div class="col-sm-9">
                <input type="text" id="logotype" class="col-sm-3 control-label" [(ngModel)]="userAccount.logotype"
                    placeholder="Logo" [ngModelOptions]="{standalone: true}" autofocus>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-block" (click)="editUserAccount()">Register</button>
    </form> <!-- ./form -->

    <div class="container row">
        <div class="col-md-12">
            <h1>Upload Image</h1>
        </div>
    </div>

    <div class="container row">
        <div class="col-md-6">
            <input type="file" (change)="onFileChanged($event)">

        </div>
        <div class="col-md-6">
            <input type="button" (click)="onUpload()" value="upload">
        </div>
    </div>
    <hr />
    <div class="container row">
        <div class="col-md-12">
            <div *ngIf=message>{{message}}</div>
        </div>
    </div>

    <div class="container row">
        <div class="col-md-12">
            <div *ngIf=retrievedImage>
                <img [src]="retrievedImage">
            </div>
        </div>
    </div>
</div> <!-- ./container -->