<style>
  table, th, td {
    border: 1px solid black;
      }
  </style>

<div>

    <table >
        <tr>
          <th>id</th>
          <th>Product name</th>
          <th>Product price</th>
          <th>Quantity</th>
          <th>Line price</th>
        </tr>
        <tr *ngFor='let item of orderLines'>
          <td>{{item.id}}</td>

          <td>{{item.productDto.title}}</td>

          <td>{{item.productDto.price}}</td>

          <td>{{item.quantity}}</td>

          <td>{{item.quantity*item.productPrice}}</td>

            <button (click)="delete(item.id)">Delete</button>
            <button routerLink="orderLine-edit/{{item.id}}">edit Q</button>
        </tr>

      </table>

    </div>

