<h2> Product list</h2>
<hr>
<hr>

<table>
    <thead>
        <tr>
            <th> Id Produs</th>
            <th> Denumire Produs</th>
<!--            <th> Categoria Produsului</th>-->
            <th>Pret Produs</th>
<!--            <th>Functionalitati</th>-->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productList">
            <td>{{product.id}} </td>
            <td>{{product.title }}</td>
<!--            <td *ngIf="product.category">{{product.category.name}} </td>-->
            <!-- <td> </td> -->
            <td>{{product.price}} </td>

<!--                <button routerLink="/product-description/{{product.id}}"> Descriere</button>-->
                <button (click)="addToCart(product.id)">Add to cart</button>


        </tr>
    </tbody>
</table>

<div>
  <button routerLink="/cart">Go to cart</button>
</div>
<!-- <button routerLink="/product-description/{{product.id}}"> Show product</button> -->



